/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*Header*/
    .cus_menu ul li a {
        padding: 0 25px !important;
    }

    .logo {
        width: 20%;
    }

    /*Header*/
    /*slider*/
    .slider {
        padding: 0 0 60px;
    }

    .cus_img {
        width: 100%;
        height: 100%;
    }

    .cus_cap {
        top: 2.5%;
        height: 100%;
        padding: 0;
        padding-left: 3%;
    }

    .slider_text {
        text-align: center;
    }

    .slider_text img {
        width: 50%;
    }

    .slider_text h1 {
        padding: 5px 0;
        font-size: 14px;
    }

    .slider_text h1 span {
        font-size: 18px;
    }

    .slider_text p {
        padding-bottom: 5px;
        font-size: 10px;
    }

    .slider_social ul li a i {
        font-size: 14px;
    }

    /*slider*/
    /*feature*/
    .single_margin {
        margin-top: 60px;
    }

    .single {
        margin: 25px 0;
        padding: 0 50px;
        text-align: center;
    }

    .single_title h3 {
        font-size: 24px;
    }

    .single_text p {
        padding: 0;
        font-size: 16px;
        line-height: 25px;
    }

    .feature2 {
        margin: 70px 0 0;
    }

    .s2_margin {
        margin: 30px 0;
        padding: 0 45px;
        text-align: center;
    }

    .single2_text p {
        padding: 0;
    }

    .single2_img {
        display: none;
    }

    /*feature*/
    /*work*/
    .work_nav {
        padding: 55px 0;
    }

    .work_nav li {
        padding: 5px 10px;
    }

    .gallary {
        margin-bottom: 30px;
    }

    .gal_img img {
        width: 100%;
    }

    .gal_img:hover .gal_texts {
        opacity: 0;
    }

    /*work*/
    /*team*/
    .team_1 {
        margin-top: 60px;
    }

    .team_hover_text {
        top: 20%;
        left: 20%;
        transform: translate(-13%, -16%);
    }

    .team_img:hover .team_hover_text {
        opacity: 0;
    }

    .team_texts h4 {
        padding: 15px 0 0;
    }

    /*team*/
    /*footer*/
    footer {
        text-align: center;
    }

    .left_footer img {
        width: 30%;
    }

    .left_footer p,
    .mid_footer p {
        padding-right: 0;
    }

    .mid_footer h2 {
        margin: 30px 0;
    }

    .mid_footer button {
        right: 11.5%;
    }

    /*footer*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /*Header*/
    .cus_menu ul li a {
        padding: 0 25px !important;
    }

    /*Header*/
    /*slider*/
    .slider {
        padding: 0 0 60px;
    }

    .cus_img {
        width: 100%;
        height: 100%;
    }

    .cus_cap {
        padding: 0;
        padding-left: 3%;
    }

    .slider_text {
        text-align: center;
    }

    .slider_text img {
        width: 50%;
    }

    .slider_text h1 {
        padding: 15px 0;
        font-size: 26px;
    }

    .slider_text h1 span {
        font-size: 28px;
    }

    .slider_text p {
        padding-bottom: 10px;
    }

    /*slider*/
    /*feature*/
    .single_margin {
        margin-top: 60px;
    }

    .single {
        margin: 50px 0;
        padding: 0 50px;
        text-align: center;
    }

    .single_title h3 {
        font-size: 24px;
    }

    .single_text p {
        padding: 0;
        font-size: 16px;
        line-height: 25px;
    }

    .feature2 {
        margin: 70px 0 0;
    }

    .s2_margin {
        margin: 30px 0;
        padding: 0 45px;
        text-align: center;
    }

    .single2_text p {
        padding: 0;
    }

    .single2_img {
        display: none;
    }

    /*feature*/
    /*work*/
    .work_nav {
        padding: 55px 0;
    }

    .work_nav li {
        padding: 10px 25px;
    }

    .gallary {
        margin-bottom: 30px;
    }

    .gal_img img {
        width: 100%;
    }

    /*work*/
    /*team*/
    .team_1 {
        margin-top: 60px;
    }

    .team_hover_text {
        top: 20%;
        left: 20%;
        transform: translate(-13%, -16%);
    }

    .team_hover_text h4 {
        font-size: 18px;
    }

    .team_texts h4 {
        padding: 15px 0 0;
    }

    /*team*/
    /*footer*/
    footer {
        text-align: center;
    }

    .left_footer img {
        width: 30%;
    }

    .left_footer p,
    .mid_footer p {
        padding-right: 0;
    }

    .mid_footer h2 {
        margin: 30px 0;
    }

    .mid_footer button {
        right: 28%;
    }

    /*footer*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*Header*/
    .cus_menu ul li a {
        padding: 0 25px !important;
    }

    /*Header*/
    /*slider*/
    .slider {
        padding: 0 0 80px;
    }

    .cus_img {
        width: 100%;
        height: 100%;
    }

    .cus_cap {
        padding-left: 6%;
    }

    .slider_text {
        text-align: center;
    }

    .slider_text h1 {
        padding: 20px 0;
        font-size: 26px;
    }

    .slider_text p {
        padding-bottom: 20px;
    }

    /*slider*/
    /*feature*/
    .single_margin {
        margin-top: 60px;
    }

    .single {
        margin: 50px 0;
        padding: 0 45px;
        text-align: center;
    }

    .single_title h3 {
        font-size: 24px;
    }

    .single_text p {
        font-size: 16px;
        line-height: 25px;
    }

    .feature2 {
        margin: 70px 0 0;
    }

    .s2_margin {
        margin: 60px 0;
        padding: 0 45px;
        text-align: center;
    }

    .single2_img {
        display: none;
    }

    /*feature*/
    /*work*/
    .work_nav {
        padding: 55px 0;
    }

    .gallary {
        margin-bottom: 30px;
    }

    /*work*/
    /*team*/
    .team_1 {
        margin-top: 60px;
    }

    .team_hover_text {
        top: 20%;
        left: 20%;
        transform: translate(-13%, -16%);
    }

    .team_hover_text h4 {
        font-size: 18px;
    }

    .team_texts h4 {
        padding: 15px 0 0;
    }

    /*team*/
    /*footer*/
    footer {
        text-align: center;
    }

    .left_footer img {
        width: 30%;
    }

    .left_footer p,
    .mid_footer p {
        padding-right: 0;
    }

    .mid_footer h2 {
        margin: 30px 0;
    }

    .mid_footer button {
        right: 33.7%;
    }

    /*footer*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    /*Header*/
    .cus_menu ul li a {
        padding: 0 25px !important;
    }

    /*Header*/
    /*slider*/
    .slider {
        padding: 0 0 100px;
    }

    .cus_img {
        width: 100%;
        height: 100%;
    }

    .slider_text h1 {
        padding: 20px 0;
        font-size: 40px;
    }

    .slider_text p {
        padding-bottom: 25px;
    }

    /*slider*/
    /*feature*/
    .single_margin {
        margin-top: 70px;
    }

    .single {
        margin: 70px 0;
    }

    .single_title h3 {
        font-size: 24px;
    }

    .single_text p {
        font-size: 16px;
        line-height: 25px;
    }

    .feature2 {
        margin: 70px 0 0;
    }

    .s2_margin {
        margin: 70px 0;
        transition: .3s ease;
    }

    .single2_img {
        margin-top: 120px;
    }

    /*feature*/
    /*work*/
    .work_nav {
        padding: 65px 0;
    }

    /*work*/
    /*team*/
    .team_1 {
        margin-top: 70px;
    }

    .team_hover_text {
        top: 20%;
        left: 20%;
        transform: translate(-13%, -16%);
    }

    .team_hover_text h4 {
        font-size: 18px;
    }

    .team_texts h4 {
        padding: 15px 0 0;
    }

    /*team*/
    /*footer*/

    .left_footer img {
        width: 80%;
    }

    .mid_footer button {
        right: 64px;
    }

    /*footer*/
}

/* Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}